In [1]:
import pandas as pd
import numpy as np

In [2]:
movies=pd.read_csv('movies.csv')
ratings=pd.read_csv('ratings.csv')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
def replace_name(x):
    return movies[movies['movieId']==x].title.values[0]
ratings.movieId= ratings.movieId.map(replace_name)

In [6]:
ratings.head()

   userId                      movieId  rating  timestamp
0       1             Toy Story (1995)     4.0  964982703
1       1      Grumpier Old Men (1995)     4.0  964981247
2       1                  Heat (1995)     4.0  964982224
3       1  Seven (a.k.a. Se7en) (1995)     5.0  964983815
4       1   Usual Suspects, The (1995)     5.0  964982931

In [7]:
ratings.drop(['timestamp'],axis=1,inplace=True)

In [8]:
ratings.head()

   userId                      movieId  rating
0       1             Toy Story (1995)     4.0
1       1      Grumpier Old Men (1995)     4.0
2       1                  Heat (1995)     4.0
3       1  Seven (a.k.a. Se7en) (1995)     5.0
4       1   Usual Suspects, The (1995)     5.0

In [9]:
main=ratings.pivot_table(index=['userId'],columns=['movieId'],values='rating')

In [10]:
main.head()

movieId,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
main.shape

(610, 9719)

In [34]:
corrmatrix=main.corr(method='pearson', min_periods=25)

In [35]:
corrmatrix.head()

movieId,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
movieId,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
"""for random user 1"""

myrating=main.loc[1].dropna()

In [37]:
myrating.head()

movieId
13th Warrior, The (1999)                4.0
20 Dates (1998)                         4.0
Abyss, The (1989)                       4.0
Adventures of Robin Hood, The (1938)    5.0
Alice in Wonderland (1951)              5.0
Name: 1, dtype: float64

In [38]:
simc=pd.Series()
for i in range(0,len(myrating.index)):
    print("Adding"+myrating.index[i])
    sims=corrmatrix[myrating.index[i]].dropna()
    sims=sims.map(lambda x : x*myrating[i])
    simc=simc.append(sims)

Adding13th Warrior, The (1999)
Adding20 Dates (1998)
AddingAbyss, The (1989)
AddingAdventures of Robin Hood, The (1938)
AddingAlice in Wonderland (1951)
AddingAlien (1979)
AddingAll Quiet on the Western Front (1930)
AddingAmerican Beauty (1999)
AddingAmerican History X (1998)
AddingAmerican Tail, An (1986)
AddingApocalypse Now (1979)
AddingAustin Powers: International Man of Mystery (1997)
AddingBack to the Future (1985)
AddingBack to the Future Part III (1990)
AddingBambi (1942)
AddingBasic Instinct (1992)
AddingBatman (1989)
AddingBatman Returns (1992)
AddingBedknobs and Broomsticks (1971)
AddingBeetlejuice (1988)
AddingBeing John Malkovich (1999)
AddingBest Men (1997)
AddingBig (1988)
AddingBig Lebowski, The (1998)
AddingBig Trouble in Little China (1986)
AddingBilly Madison (1995)
AddingBlack Cauldron, The (1985)
AddingBlazing Saddles (1974)
AddingBlown Away (1994)
AddingBlues Brothers, The (1980)
AddingBottle Rocket (1996)
AddingBraveheart (1995)
AddingCanadian Bacon (1995)
AddingCharlotte's Web (1973)
AddingCitizen Kane (1941)
AddingClear and Present Danger (1994)
AddingClerks (1994)
AddingClockwork Orange, A (1971)
AddingCon Air (1997)
AddingConan the Barbarian (1982)
AddingCrocodile Dundee (1986)
AddingDances with Wolves (1990)
AddingDazed and Confused (1993)
AddingDesperado (1995)
AddingDick Tracy (1990)
AddingDirty Dozen, The (1967)
AddingDogma (1999)
AddingDr. No (1962)
AddingDracula (1931)
AddingDuck Soup (1933)
AddingDumb & Dumber (Dumb and Dumber) (1994)
AddingDumbo (1941)
AddingE.T. the Extra-Terrestrial (1982)
AddingEasy Rider (1969)
AddingEd Wood (1994)
AddingEdward Scissorhands (1990)
AddingEncino Man (1992)
AddingEnemy of the State (1998)
AddingEscape to Witch Mountain (1975)
AddingExcalibur (1981)
AddingFace/Off (1997)
AddingFantasia (1940)
AddingFargo (1996)
AddingFew Good Men, A (1992)
AddingFight Club (1999)
AddingFlight of the Navigator (1986)
AddingForrest Gump (1994)
AddingFrankenstein (1931)
AddingFrom Dusk Till Dawn (1996)
AddingFrom Russia with Love (1963)
AddingFugitive, The (1993)
AddingFull Metal Jacket (1987)
AddingGame, The (1997)
AddingGhost and Mrs. Muir, The (1947)
AddingGhost and the Darkness, The (1996)
AddingGhostbusters (a.k.a. Ghost Busters) (1984)
AddingGladiator (2000)
AddingGo (1999)
AddingGoldfinger (1964)
AddingGood Morning, Vietnam (1987)
AddingGoodfellas (1990)
AddingGoonies, The (1985)
AddingGreat Mouse Detective, The (1986)
AddingGreen Mile, The (1999)
AddingGrosse Pointe Blank (1997)
AddingGroundhog Day (1993)
AddingGrumpier Old Men (1995)
AddingGrumpy Old Men (1993)
AddingGulliver's Travels (1939)
AddingHeat (1995)
AddingHenry V (1989)
AddingHighlander (1986)
AddingHoney, I Shrunk the Kids (1989)
AddingHook (1991)
AddingHoward the Duck (1986)
AddingI Know What You Did Last Summer (1997)
AddingI Still Know What You Did Last Summer (1998)
AddingIndependence Day (a.k.a. ID4) (1996)
AddingIndiana Jones and the Last Crusade (1989)
AddingIndiana Jones and the Temple of Doom (1984)
AddingIron Giant, The (1999)
AddingJFK (1991)
AddingJames and the Giant Peach (1996)
AddingJungle Book, The (1967)
AddingJungle Book, The (1994)
AddingJurassic Park (1993)
AddingKing Kong (1933)
AddingKiss the Girls (1997)
AddingL.A. Confidential (1997)
AddingLabyrinth (1986)
AddingLadyhawke (1985)
AddingLast of the Mohicans, The (1992)
AddingLegend (1985)
AddingLethal Weapon (1987)
AddingLive and Let Die (1973)
AddingLock, Stock & Two Smoking Barrels (1998)
AddingLogan's Run (1976)
AddingLongest Day, The (1962)
AddingLord of the Rings, The (1978)
AddingM*A*S*H (a.k.a. MASH) (1970)
AddingMad Max (1979)
AddingMan with the Golden Gun, The (1974)
AddingMask, The (1994)
AddingMatrix, The (1999)
AddingMcHale's Navy (1997)
AddingMen in Black (a.k.a. MIB) (1997)
AddingMessenger: The Story of Joan of Arc, The (1999)
AddingMission: Impossible (1996)
AddingMonty Python and the Holy Grail (1975)
AddingMonty Python's Life of Brian (1979)
AddingMr. Smith Goes to Washington (1939)
AddingMrs. Doubtfire (1993)
AddingMummy, The (1999)
AddingNegotiator, The (1998)
AddingNeverEnding Story, The (1984)
AddingNewton Boys, The (1998)
AddingNosferatu (Nosferatu, eine Symphonie des Grauens) (1922)
AddingOffice Space (1999)
AddingPete's Dragon (1977)
AddingPink Floyd: The Wall (1982)
AddingPinocchio (1940)
AddingPlanet of the Apes (1968)
AddingPlatoon (1986)
AddingPredator (1987)
AddingPrincess Bride, The (1987)
AddingPsycho (1960)
AddingPsycho (1998)
AddingPulp Fiction (1994)
AddingQuiet Man, The (1952)
AddingRaiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
AddingRed Dawn (1984)
AddingRescuers, The (1977)
AddingReservoir Dogs (1992)
AddingReturn to Oz (1985)
AddingRoad Trip (2000)
AddingRoad Warrior, The (Mad Max 2) (1981)
AddingRob Roy (1995)
AddingRobin Hood (1973)
AddingRoboCop (1987)
AddingRock, The (1996)
AddingRocketeer, The (1991)
AddingRocky (1976)
AddingRocky Horror Picture Show, The (1975)
AddingRomancing the Stone (1984)
AddingRun Lola Run (Lola rennt) (1998)
AddingRush Hour (1998)
AddingRushmore (1998)
AddingSLC Punk! (1998)
AddingSaving Private Ryan (1998)
AddingSchindler's List (1993)
AddingScream 3 (2000)
AddingSecret of NIMH, The (1982)
AddingSeven (a.k.a. Se7en) (1995)
AddingShaft (1971)
AddingShaft (2000)
AddingShe's the One (1996)
AddingShining, The (1980)
AddingSilence of the Lambs, The (1991)
AddingSister Act (1992)
AddingSleeping Beauty (1959)
AddingSmall Soldiers (1998)
AddingSneakers (1992)
AddingSo I Married an Axe Murderer (1993)
AddingSong of the South (1946)
AddingSouth Park: Bigger, Longer and Uncut (1999)
AddingSpace Jam (1996)
AddingSpaceballs (1987)
AddingStar Wars: Episode I - The Phantom Menace (1999)
AddingStar Wars: Episode IV - A New Hope (1977)
AddingStar Wars: Episode V - The Empire Strikes Back (1980)
AddingStar Wars: Episode VI - Return of the Jedi (1983)
AddingStargate (1994)
AddingStarship Troopers (1997)
AddingSuperman (1978)
AddingSuperman II (1980)
AddingSwingers (1996)
AddingSword in the Stone, The (1963)
AddingTalented Mr. Ripley, The (1999)
AddingTeenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)
AddingTeenage Mutant Ninja Turtles III (1993)
AddingTerminator, The (1984)
AddingTexas Chainsaw Massacre, The (1974)
AddingThat Thing You Do! (1996)
AddingThin Red Line, The (1998)
AddingThree Caballeros, The (1945)
AddingThree Musketeers, The (1993)
AddingThunderball (1965)
AddingTombstone (1993)
AddingTommy Boy (1995)
AddingTotal Recall (1990)
AddingToy Story (1995)
AddingToys (1992)
AddingTransformers: The Movie (1986)
AddingTron (1982)
AddingTwister (1996)
AddingUsual Suspects, The (1995)
AddingVery Bad Things (1998)
AddingWayne's World (1992)
AddingWedding Singer, The (1998)
AddingWelcome to Woop-Woop (1997)
AddingWhat About Bob? (1991)
AddingWho Framed Roger Rabbit? (1988)
AddingWild Things (1998)
AddingWillow (1988)
AddingWilly Wonka & the Chocolate Factory (1971)
AddingWinnie the Pooh and the Blustery Day (1968)
AddingWizard of Oz, The (1939)
AddingWolf Man, The (1941)
AddingX-Men (2000)
AddingYoung Frankenstein (1974)
AddingYoung Sherlock Holmes (1985)
Adding¡Three Amigos! (1986)

In [39]:
print("Sorting the list")

Sorting the list

In [40]:
simc.sort_values(inplace=True,ascending=False)

In [41]:
print(simc.head(10))

Iron Giant, The (1999)                    5.0
L.A. Confidential (1997)                  5.0
Planet of the Apes (1968)                 5.0
Pinocchio (1940)                          5.0
Office Space (1999)                       5.0
NeverEnding Story, The (1984)             5.0
Negotiator, The (1998)                    5.0
Monty Python's Life of Brian (1979)       5.0
Monty Python and the Holy Grail (1975)    5.0
Matrix, The (1999)                        5.0
dtype: float64

In [47]:
simc=simc.groupby(simc.index).sum()

In [48]:
simc.sort_values(inplace=True,ascending=False)

In [49]:
simc.head(10)

Scream 3 (2000)                   5.00000
Excalibur (1981)                  5.00000
Sword in the Stone, The (1963)    5.00000
¡Three Amigos! (1986)             4.00000
King Kong (1933)                  4.00000
Easy Rider (1969)                 4.00000
Wild Things (1998)                4.00000
Dick Tracy (1990)                 4.00000
13th Warrior, The (1999)          4.00000
Life of Pi (2012)                 2.88879
dtype: float64